In [1]:
import pandas as pd

path = "yelp_academic_dataset_business.json"

df_business = pd.read_json(
    path,
    lines=True
)

In [12]:
df_business.head(10)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
6,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ..."
7,qkRM_2X51Yqxk3btlwAQIg,Temple Beth-El,400 Pasadena Ave S,St. Petersburg,FL,33707,27.766590,-82.732983,3.5,5,1,None,"Synagogues, Religious Organizations","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."

In [13]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [ ]:
# 处理标签

In [16]:
from collections import Counter
attr_counter = Counter()

for attrs in df_business['attributes'].dropna():
    for k in attrs.keys():
        attr_counter[k] += 1

In [19]:
attr_counter.most_common()

[('BusinessAcceptsCreditCards', 119765),
 ('BusinessParking', 91085),
 ('RestaurantsPriceRange2', 85314),
 ('BikeParking', 72638),
 ('RestaurantsTakeOut', 59857),
 ('WiFi', 56914),
 ('RestaurantsDelivery', 56282),
 ('GoodForKids', 53375),
 ('OutdoorSeating', 48802),
 ('RestaurantsReservations', 45247),
 ('HasTV', 45084),
 ('Ambience', 44279),
 ('RestaurantsGoodForGroups', 44170),
 ('Alcohol', 43189),
 ('ByAppointmentOnly', 42339),
 ('Caters', 40127),
 ('RestaurantsAttire', 39255),
 ('NoiseLevel', 37993),
 ('GoodForMeal', 29087),
 ('WheelchairAccessible', 28953),
 ('RestaurantsTableService', 19982),
 ('DogsAllowed', 18284),
 ('BusinessAcceptsBitcoin', 17430),
 ('HappyHour', 15171),
 ('DriveThru', 7760),
 ('Music', 7521),
 ('AcceptsInsurance', 5713),
 ('BestNights', 5694),
 ('CoatCheck', 5584),
 ('GoodForDancing', 4628),
 ('Smoking', 4567),
 ('BYOB', 4451),
 ('Corkage', 3553),
 ('BYOBCorkage', 1444),
 ('HairSpecializesIn', 1065),
 ('AgesAllowed', 129),
 ('Open24Hours', 39),
 ('DietaryRestrictions', 31),
 ('RestaurantsCounterService', 19)]

In [21]:
def flatten_attributes(attrs):
    flat = {}
    for k, v in attrs.items():
        if isinstance(v, dict):
            for sub_k, sub_v in v.items():
                flat[f"{k}_{sub_k}"] = sub_v
        else:
            flat[k] = v
    return flat
df_flat = df_business['attributes'].dropna().apply(flatten_attributes)
flat_counter = Counter()

for d in df_flat:
    for k in d:
        flat_counter[k] += 1

In [22]:
flat_counter.most_common()

[('BusinessAcceptsCreditCards', 119765),
 ('BusinessParking', 91085),
 ('RestaurantsPriceRange2', 85314),
 ('BikeParking', 72638),
 ('RestaurantsTakeOut', 59857),
 ('WiFi', 56914),
 ('RestaurantsDelivery', 56282),
 ('GoodForKids', 53375),
 ('OutdoorSeating', 48802),
 ('RestaurantsReservations', 45247),
 ('HasTV', 45084),
 ('Ambience', 44279),
 ('RestaurantsGoodForGroups', 44170),
 ('Alcohol', 43189),
 ('ByAppointmentOnly', 42339),
 ('Caters', 40127),
 ('RestaurantsAttire', 39255),
 ('NoiseLevel', 37993),
 ('GoodForMeal', 29087),
 ('WheelchairAccessible', 28953),
 ('RestaurantsTableService', 19982),
 ('DogsAllowed', 18284),
 ('BusinessAcceptsBitcoin', 17430),
 ('HappyHour', 15171),
 ('DriveThru', 7760),
 ('Music', 7521),
 ('AcceptsInsurance', 5713),
 ('BestNights', 5694),
 ('CoatCheck', 5584),
 ('GoodForDancing', 4628),
 ('Smoking', 4567),
 ('BYOB', 4451),
 ('Corkage', 3553),
 ('BYOBCorkage', 1444),
 ('HairSpecializesIn', 1065),
 ('AgesAllowed', 129),
 ('Open24Hours', 39),
 ('DietaryRestrictions', 31),
 ('RestaurantsCounterService', 19)]

In [23]:
df_business['categories_list'] = df_business['categories'].str.split(', ')

In [25]:
cat_counter = Counter()
for cats in df_business['categories_list'].dropna():
    cat_counter.update(cats)

len(cat_counter)  # ~1300
# 保留出现次数 ≥ 多少次？

1311

In [43]:
cat_counter.most_common(50)

[('Restaurants', 52268),
 ('Food', 27781),
 ('Shopping', 24395),
 ('Home Services', 14356),
 ('Beauty & Spas', 14292),
 ('Nightlife', 12281),
 ('Health & Medical', 11890),
 ('Local Services', 11198),
 ('Bars', 11065),
 ('Automotive', 10773),
 ('Event Planning & Services', 9895),
 ('Sandwiches', 8366),
 ('American (Traditional)', 8139),
 ('Active Life', 7687),
 ('Pizza', 7093),
 ('Coffee & Tea', 6703),
 ('Fast Food', 6472),
 ('Breakfast & Brunch', 6239),
 ('American (New)', 6097),
 ('Hotels & Travel', 5857),
 ('Home & Garden', 5799),
 ('Fashion', 5739),
 ('Burgers', 5636),
 ('Arts & Entertainment', 5434),
 ('Auto Repair', 5433),
 ('Hair Salons', 5046),
 ('Nail Salons', 4621),
 ('Mexican', 4600),
 ('Italian', 4573),
 ('Specialty Food', 4233),
 ('Doctors', 3763),
 ('Pets', 3758),
 ('Real Estate', 3577),
 ('Seafood', 3539),
 ('Fitness & Instruction', 3293),
 ('Professional Services', 3270),
 ('Hair Removal', 3239),
 ('Desserts', 3186),
 ('Chinese', 3169),
 ('Bakeries', 3150),
 ('Grocery', 3139),
 ('Salad', 3064),
 ('Hotels', 2977),
 ('Chicken Wings', 2966),
 ('Cafes', 2756),
 ('Ice Cream & Frozen Yogurt', 2657),
 ('Caterers', 2645),
 ('Pet Services', 2626),
 ('Dentists', 2528),
 ('Skin Care', 2498)]

In [ ]:
df_review = pd.read_json(
    "yelp_academic_dataset_review.json",
    lines=True,
    nrows=10000   # 先 10 万行
)

In [9]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    10000 non-null  object
 1   user_id      10000 non-null  object
 2   business_id  10000 non-null  object
 3   stars        10000 non-null  int64
 4   useful       10000 non-null  int64
 5   funny        10000 non-null  int64
 6   cool         10000 non-null  int64
 7   text         10000 non-null  object
 8   date         10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 703.2+ KB

In [29]:
df_review.head(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
6,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,0,2,0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
7,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,2,0,0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
8,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33
9,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06

In [32]:
df_review.shape

(10000, 9)

In [33]:
df_review.isna().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [34]:
df_review.dtypes

review_id              object
user_id                object
business_id            object
stars                   int64
useful                  int64
funny                   int64
cool                    int64
text                   object
date           datetime64[ns]
dtype: object

In [35]:
df_review['stars'].value_counts(normalize=True).sort_index()

stars
1    0.1079
2    0.0763
3    0.1139
4    0.2574
5    0.4445
Name: proportion, dtype: float64

In [36]:
df_review['text_len'] = df_review['text'].str.split().apply(len)

df_review['text_len'].describe()

count    10000.000000
mean       101.228500
std         93.750264
min          5.000000
25%         41.000000
50%         73.000000
75%        129.000000
max       1006.000000
Name: text_len, dtype: float64

In [37]:
df_review['year'] = df_review['date'].dt.year
df_review['year'].value_counts().sort_index()

year
2005      25
2006      16
2007      31
2008     106
2009     148
2010     274
2011     476
2012     665
2013     938
2014    1179
2015    1597
2016    1612
2017    1661
2018    1272
Name: count, dtype: int64

In [39]:
df_review['month'] = df_review['date'].dt.to_period('M')
df_review['month'].value_counts().sort_index()

month
2005-03      5
2005-04      2
2005-05      7
2005-06      1
2005-07      7
          ...
2018-06    143
2018-07    156
2018-08    121
2018-09    105
2018-10     24
Freq: M, Name: count, Length: 122, dtype: int64

In [40]:
user_review_counts = df_review['user_id'].value_counts()
user_review_counts.describe()

count    9472.000000
mean        1.055743
std         0.267275
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         6.000000
Name: count, dtype: float64

In [58]:
df_review['business_id'].value_counts().describe()

count    3930.000000
mean        2.544529
std         3.584372
min         1.000000
25%         1.000000
50%         1.000000
75%         3.000000
max        85.000000
Name: count, dtype: float64

# which categories get higher ratings?

# do users specialize in certain categories?

In [45]:
df_tip = pd.read_json(
    "yelp_academic_dataset_tip.json",
    lines=True,
    nrows=10000   # 先 10 万行
)

In [46]:
df_tip.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [47]:
df_tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           10000 non-null  object
 1   business_id       10000 non-null  object
 2   text              10000 non-null  object
 3   date              10000 non-null  datetime64[ns]
 4   compliment_count  10000 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 390.8+ KB

In [48]:
df_tip['year'] = df_tip['date'].dt.year
df_tip['year'].value_counts().sort_index()

year
2009      23
2010     531
2011    1347
2012    1787
2013    1611
2014    1329
2015    1192
2016    1178
2017     776
2018     226
Name: count, dtype: int64

In [54]:
df_tip['compliment_count'].value_counts()

compliment_count
0    9873
1     121
2       5
3       1
Name: count, dtype: int64

In [55]:
df_tip['text_len'] = df_tip['text'].str.split().apply(len)
df_tip['text_len'].describe()
# 相比review length要短很多

count    10000.000000
mean        10.920100
std         10.107063
min          1.000000
25%          5.000000
50%          8.000000
75%         14.000000
max         98.000000
Name: text_len, dtype: float64

In [56]:
df_tip['user_id'].value_counts().describe()

count    6227.000000
mean        1.605910
std         1.879305
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        44.000000
Name: count, dtype: float64

In [57]:
df_tip['business_id'].value_counts().describe()

count    7900.000000
mean        1.265823
std         0.698485
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        13.000000
Name: count, dtype: float64

# 用1万条数据的样本，得到review和得到tip的商家区别很大，写review和tip的用户区别很大，说明什么？
# 文本分析主要使用review+tip作为辅助？如何使用
# Tips written by a user on a business. Tips are shorter than reviews and tend to convey quick suggestions 反而更能展现用户兴趣，作为用户的兴趣画像？
# 某些 categories 是否更容易被 tip 提及

In [44]:
df_user = pd.read_json(
    "yelp_academic_dataset_user.json",
    lines=True,
    nrows=10000   # 先 10 万行
)

In [59]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10000 non-null  object
 1   name                10000 non-null  object
 2   review_count        10000 non-null  int64
 3   yelping_since       10000 non-null  object
 4   useful              10000 non-null  int64
 5   funny               10000 non-null  int64
 6   cool                10000 non-null  int64
 7   elite               10000 non-null  object
 8   friends             10000 non-null  object
 9   fans                10000 non-null  int64
 10  average_stars       10000 non-null  float64
 11  compliment_hot      10000 non-null  int64
 12  compliment_more     10000 non-null  int64
 13  compliment_profile  10000 non-null  int64
 14  compliment_cute     10000 non-null  int64
 15  compliment_list     10000 non-null  int64
 16  compliment_note     10000 non-null  int64
 17  compliment_plain    10000 non-null  int64
 18  compliment_cool     10000 non-null  int64
 19  compliment_funny    10000 non-null  int64
 20  compliment_writer   10000 non-null  int64
 21  compliment_photos   10000 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 1.7+ MB

In [60]:
df_user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

# 从用户画像的层面来拆解这些22列数据
# how many layers? which data belong to which?

In [61]:
df_user['yelping_since'] = pd.to_datetime(df_user['yelping_since'])
df_user.isna().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [62]:
df_user['review_count'].describe()
# mean >> median 
# skewed distribution

count    10000.00000
mean       278.61810
std        502.63081
min          1.00000
25%         34.75000
50%        115.00000
75%        323.00000
max      16567.00000
Name: review_count, dtype: float64

In [67]:
df_user['tenure_years'] = (
    pd.Timestamp.now() - df_user['yelping_since']
).dt.days / 365
df_user['tenure_years'].describe()

count    10000.000000
mean        16.532309
std          1.576209
min         12.539726
25%         15.304110
50%         16.398630
75%         17.660274
max         21.115068
Name: tenure_years, dtype: float64

In [68]:
df_user['is_elite'] = df_user['elite'].apply(lambda x: 0 if x=='' else 1)
df_user['is_elite'].value_counts(normalize=True)
# elite的用户评论权重更高？

is_elite
0    0.5067
1    0.4933
Name: proportion, dtype: float64

In [70]:
compliment_cols = [c for c in df_user.columns if c.startswith('compliment_')]
df_user['total_compliments'] = df_user[compliment_cols].sum(axis=1)
df_user['total_compliments'].describe()
# value = 0 做冷启动？

count    10000.000000
mean       446.877200
std       2442.130046
min          0.000000
25%          6.000000
50%         36.000000
75%        173.000000
max      82084.000000
Name: total_compliments, dtype: float64

用户画像数值特征（例）
User profile =
  log(review_count)
+ tenure_years
+ is_elite
+ log(num_friends + 1)
+ log(total_compliments + 1)

冷启动用户
无compliments 无 reviews或少量 无tips或少量？

最终用户 （例）：
User embedding =
  Avg(category embeddings of reviewed businesses)
+ Review text embedding
+ Static user profile (df_user)